html {
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

button{
    cursor: pointer;
}

button{
    cursor: pointer;
}

body{
    font-family: 'Poppins';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../images/Login/BackgroundLoginSignin.svg");
    background-repeat:no-repeat;
    background-size:cover;
}

.container{
    background: rgba(255, 248, 248, 0.94);
    border-radius: 40px;
    width: 450px;
    height: 660px;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    font-weight: bolder;
    box-sizing: border-box;
}

.container .form{
    margin-top: 30px;
    margin-bottom: 30px;
}

.form input{
    height: 45px;
    width: 345px;
    border-radius: 20px;
    font-size: large;
    padding: 10px;
    box-sizing: border-box;
    font-weight: bold;
    border: 0;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px
}

::-webkit-input-placeholder { /* Edge */
    opacity: 0.4;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    opacity: 0.4;
}

::placeholder {
    opacity: 0.4;
}

.form .nama{
    background: url(../images/SignUp/NameIcon.svg) no-repeat scroll 10px 10px;
    padding-left:50px;
}

.form .username{
    background: url(../images/SignUp/UsernameIcon.svg) no-repeat scroll 10px 10px;
    padding-left:50px;
}

.form .nomorHp{
    background: url(../images/SignUp/NomorHPIcon.svg) no-repeat scroll 10px 10px;
    padding-left:50px;
}

.form .email{
    background: url(../images/SignUp/EmailIcon.svg) no-repeat scroll 10px 10px;
    padding-left:50px;
}

.form .password1{
    background: url(../images/Login/PasswordLogo.svg) no-repeat scroll 10px 10px;
    padding-left:50px;
}

.form #tooglePassword1{
    position: absolute;
    right: 85px;
    top: 375px;
    cursor: pointer;
}

.form #tooglePassword2{
    position: absolute;
    right: 85px;
    top: 440px;
    cursor: pointer;
}

.form .password2{
    background: url(../images/SignUp/Password2Icon.svg) no-repeat scroll 10px 10px;
    padding-left:50px;
}


.container #signup-btn{
    width: 220px;
    height: 55px;
    margin-bottom: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    border-radius: 50px;
    background: linear-gradient(90deg, #749919 0%, #009EB6 120.3%);
    border: 0;
    color: white;
}



